.container{
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  
  .img{
    width: 200px;
  }
  
  
  footer{
    border-top: 1px solid #999;
    margin-top: 20px;
    padding-top: 10px;
  }