*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: rgb(192, 192, 192);
}
.parent{
    margin: auto;
    margin-top: 50px;
    max-width: 900px;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    
}
.parent > div{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px gray;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.parent p{
    color: gray;
    font-size: 12px;
}
.parent h1{
    font-size: 16px;
}

.parent img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.child1{
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: rgb(86, 1, 155);
}
.child2{
    grid-row: 1/2;
    grid-column: 3/4; 
    background: rgb(38, 47, 61);
}
.child3{

    color: gray;
    grid-row: 1/3;
    grid-column: 4/5;
    background-color: white;
}
.child4{
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: white;
}
.child5{
    grid-row: 2/3;
    grid-column: 2/4;
    background-color: rgb(11, 25, 47);
}

@media screen and (max-width:600px){
    .parent{
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }    
    .parent > div{
        grid-column: auto;
        grid-row: auto;
    }
    .parent > div{
        gap: 10px;
    }
}
.child4 h1,h3{
    color: grey;
}
.child3 h1,h3{
    color: grey;
}
.child1 h3{
    color: white;
}
.child2 h3{
    color: white;
}
.child5 h3{
    color: white;
}
.parent > div  .nav{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
