*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent{
    margin: auto;
    margin-top: 50px;
    border: 1px solid black;
    width: 95%;
    max-height: 900px;
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.child1{
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
}
.child2{
    grid-column: 3/5;
    grid-row: 1/2;
}
.child3{
    grid-column: 1/2;
    grid-row: 2/3;
}
.child4{
    grid-column: 2/4;
    grid-row: 2/3;
    display: flex;
}
.child5{
    grid-column: 4/5;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
}
.child6{
    grid-column: 1/2;
    grid-row: 3/4;
}
.child7{
    grid-column: 2/4;
    grid-row: 3/4;
}
.child2{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    background-color: rgb(243, 245, 246);
}
.child3{
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-color: rgb(255, 89, 0);
}
.child5{
    background-color: rgb(161, 64, 252);
    color: white;
    text-align: center;
}
.child6{
    padding: 20px;
    text-align: center;
}
.child7{
    padding: 20px;
    text-align: center;
    background-color: rgba(35, 94, 89, 0.774);
    color: white;
}
.child1 .text{
    width: 60%;
    padding: 40px;
}
.child1 .img{
    width: 40%;
    padding: 20px;
}
.child1 img{
    width: 100%;
    height: auto;
}
.child4 > div{
    width: 50%;
}
.child4 .left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.child4 .left .cont{
    padding: 30px;
}
.child4 .right{
    padding: 30px;
}
.child4 img{
    width: 100%;
    height: auto;
}
.child5 .img img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    padding: 20px;
}
.child5 button{
    border-radius: 20px;
    background-color: yellow;
    padding: 10px;
    border: none;
    margin-top: 10px;
}
.child3 img,.child6 img,.child7 img{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}

.child2 a,.child6 a,.child4 a{
    color: rgb(0, 125, 83);
}

.child3 a{
    color: yellow;
}


@media screen and (max-width:600px){
    .parent{
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }    
    .parent > div{
        grid-column: auto;
        grid-row: auto;
    }
    .child1,.child4{
        flex-direction: column;
    }
    .child1 .text,.child1 .img,.child4 > div{
        width: 100%;
    }
    img{
        width: 100%;
        height: auto;
    }
}
